.previewPhoto-toolbar {
  width: 213px;
  height: 32px;
  line-height: 14px;
  position: fixed;
  bottom: 162px;
  left: 50%;
  margin-left: -106px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fff;
  z-index: 100;
  >span {
    margin-left: 12px;
  }
  >svg {
    margin-left: 12px;
    cursor: pointer;
  }
  .toolbar-scale {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}